.bounce-in-top {
	animation: bounce-in-top 1.1s both;
}


@keyframes bounce-in-top {
    0% {
      transform: translateY(-500px);
      animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      transform: translateY(0);
      animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      transform: translateY(-65px);
      animation-timing-function: ease-in;
    }
    72% {
      transform: translateY(0);
      animation-timing-function: ease-out;
    }
    81% {
      transform: translateY(-28px);
      animation-timing-function: ease-in;
    }
    90% {
      transform: translateY(0);
      animation-timing-function: ease-out;
    }
    95% {
      transform: translateY(-8px);
      animation-timing-function: ease-in;
    }
    100% {
      transform: translateY(0);
      animation-timing-function: ease-out;
    }
  }

.bg{
background-image: url(./assets/bg1.svg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;

}
.bgg{
background-image: url(./assets/road.svg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;

}
.bggteam{
background-image: url(./assets/teambgg.svg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;

}
.rbg{
background-image: url(./assets/rbg.svg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;

}
.tbg{
background-image: url(./assets/tbg.svg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;

}
.bgplay{
background-image: url(./assets/howbg.svg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;

}
.pbg{
background-image: url(./assets/pbg.svg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;

}

.index{
z-index: 1000;

}

.item {
  animation: scroll 20s linear infinite;
  
  /* Optional: Sets initial position */
}

@keyframes scroll {
  0% {
    left: -200px; /* Start from the initial position */
  }
  100% {
    left:950px; /* End at -200px from the right */
  }
}

.item1{
animation-delay: calc(20s / 6 * (5) * -1 );


}
.item2{
animation-delay: calc(20s / 6 * (4) * -1 );


}
.item3{
animation-delay: calc(20s / 6 * (3) * -1 );


}
.item4{
animation-delay: calc(20s / 6 * (2) * -1 );


}
.item5{
animation-delay: calc(20s / 6 * (1) * -1 );


}
.item6{
animation-delay: calc(20s / 6 * (0) * -1 );


}

html{scroll-behavior: smooth;}


.disc{list-style-type: disc;}


.gradient{


  background: rgb(56,25,107);
background: linear-gradient(90deg, rgba(56,25,107,1) 0%, rgba(108,49,208,1) 100%);
}
.gradient2{


  background: rgb(56,25,107);
  background: linear-gradient(90deg, rgba(56,25,107,1) 0%, rgba(108,49,208,1) 100%);
}


.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}

.element {
  text-shadow: 
    2px 2px 0 rgba(186, 69, 227, 1),
   -2px 2px 0 rgba(186, 69, 227, 1),
    2px -2px 0 rgba(186, 69, 227, 1),
   -2px -2px 0 rgba(186, 69, 227, 1); /* Stroke effect */
  color: white; /* Text fill color */
}